export(audit_oe_file)
export(apply_game_exclusions)
export(apply_pca_transform)
export(apply_quantile_bins)
export(assemble_kill_market_map_features)
export(assemble_map_feature_table)
export(attach_tracking_features_to_maps)
export(assemble_player_draft_features)
export(assemble_draft_features)
export(assess_model_promotion)
export(assess_team_sample_eligibility)
export(build_validation_rows)
export(prepare_bayesian_fold_data)
export(build_window_candidate_grid)
export(build_data_manifest)
export(build_canonical_games)
export(build_game_targets)
export(build_directed_team_maps)
export(build_historical_prediction_rows)
export(build_kill_market_multiscale_features)
export(build_champion_sample_snapshot)
export(build_champion_rolling_features)
export(build_portable_model_bundle)
export(build_player_feature_snapshot)
export(build_player_map_metrics)
export(build_player_rolling_features)
export(build_pmf_ensemble)
export(build_team_map_metrics)
export(build_team_feature_snapshot)
export(build_team_rolling_features)
export(build_team_dynamic_ratings)
export(build_tracking_time_series)
export(build_simple_model_candidates)
export(canonical_target_leagues)
export(canonicalize_league)
export(classify_competition_role)
export(compute_file_sha256)
export(compute_time_series_indicators)
export(derive_team_signal_features)
export(derive_team_behavior_outcomes)
export(derive_functional_champion_scores)
export(derive_kill_market_outcomes)
export(derive_team_sample_coverage)
export(discrete_crps)
export(dynamic_team_model_features)
export(evaluate_simple_team_models)
export(evaluate_team_prior_sensitivity)
export(evaluate_team_sample_thresholds)
export(evaluate_window_candidates)
export(evaluate_metric_stability)
export(evaluate_line_probabilities)
export(fit_count_regression)
export(fit_coupled_kill_model)
export(fit_hierarchical_distribution_model)
export(fit_historical_monte_carlo_bank)
export(fit_joint_team_monte_carlo_model)
export(fit_pca_transform)
export(fit_quantile_bins)
export(fit_regularized_count_model)
export(fit_regularized_duration_model)
export(fit_duration_regression)
export(fit_intensity_duration_model)
export(make_count_pmf)
export(kill_market_metric_names)
export(read_data_manifest)
export(predict_league_empirical_pmf)
export(predict_count_regression)
export(predict_coupled_kill_model)
export(predict_hierarchical_distribution_model)
export(predict_joint_team_monte_carlo_model)
export(predict_historical_monte_carlo_model)
export(predict_duration_regression)
export(predict_intensity_duration_model)
export(predict_regularized_count_model)
export(predict_regularized_duration_model)
export(predict_portable_request)
export(paired_block_bootstrap_crps)
export(player_metric_oe_columns)
export(read_champion_taxonomy)
export(select_temporal_training)
export(team_metric_oe_columns)
export(tracking_model_features)
export(derive_series_metadata)
export(required_oe_columns)
export(validate_data_manifest)
export(validate_champion_taxonomy)
export(validate_oe_schema)
export(score_composition_archetypes)
export(simulate_historical_kills)
export(convolve_count_pmfs)
export(blend_predictive_pmfs)
export(benchmark_monte_carlo_draws)
export(score_bayesian_predictions)
export(summarize_mcmc_diagnostics)
export(write_data_manifest)
export(write_portable_model_bundle)
export(write_processed_store)
export(derive_total_market_implied_mean)
export(build_prematch_forecast_rows)
export(build_synthetic_pinnacle_features)
export(fit_prematch_delta_ridge)
export(predict_prematch_delta_ridge)
export(evaluate_conservative_soft_value)
export(bettingiscool_request)
export(validate_bettingiscool_kills_contract)
export(normalize_bettingiscool_kills_odds)
export(write_bettingiscool_raw_response)
export(initialize_bettingiscool_store)
export(normalize_bettingiscool_fixtures)
export(normalize_bettingiscool_settlements)
export(prepare_bettingiscool_odds_rows)
export(append_bettingiscool_rows)
export(select_bettingiscool_map_snapshots)
export(match_bettingiscool_games)
export(evaluate_kills_market_backtest)
export(summarize_kills_market_backtest)
export(bootstrap_kills_market_backtest)
export(build_claude_challenger_features)
export(recalibrate_oof_idr)
export(assert_development_period)
export(build_premap_ratio_features)
export(assemble_premap_ratio_map_features)
export(derive_multiplicative_expectations)
export(fit_premap_multiplicative_model)
export(predict_premap_multiplicative_model)
export(beta_binomial_kill_allocation)
export(fit_regularized_multiplicative_exponents)
export(predict_regularized_multiplicative_exponents)
export(score_duration_distributions)
export(match_bettingiscool_regular_events)
export(validate_bettingiscool_moneyline_contract)
export(normalize_bettingiscool_moneyline_odds)
export(select_bettingiscool_moneyline_snapshots)
export(derive_moneyline_favoritism)
export(validate_bettingiscool_team_totals_contract)
export(normalize_bettingiscool_team_totals_odds)
export(select_bettingiscool_team_total_snapshots)
export(derive_team_total_probabilities)
export(select_bettingiscool_team_total_endpoint_rows)
export(invert_market_count_mean)
export(estimate_historical_team_kill_dispersion)
export(derive_market_implied_team_kills)
export(score_market_implied_team_kills)
export(match_bettingiscool_regular_maps)
export(attach_direct_moneyline_to_maps)
export(summarize_direct_moneyline_coverage)
export(attach_moneyline_to_maps)
export(summarize_favoritism_coverage)
export(fit_moneyline_informed_model)
export(predict_moneyline_informed_model)
export(fit_directed_joint_fundamental)
export(predict_directed_joint_fundamental)
export(fit_moneyline_joint_correction)
export(predict_moneyline_joint_model)
export(tilt_pmf_to_kill_market)
export(fit_kill_market_tilt_weight)
export(predict_kill_market_hybrid)
export(initialize_soft_market_store)
export(prepare_soft_market_quote)
export(append_soft_market_quote)
export(assess_soft_market_edge)
export(select_predraft_market_snapshot)
export(fit_market_residual_pooling)
export(predict_market_residual_pooling)
export(build_weekly_latent_team_states)
export(apply_roster_state_retention)
export(fit_winner_mixture_duration)
export(predict_winner_mixture_duration)
